# Virtual environment
venv/
.venv/
env/

# Model Checkpoints (Downloaded from HF)
qwen2.5-vl-7b/
*.safetensors
*.bin
*.pt
local_adapter/
aasaan_khata_adapter/

# Uploads & Temporary files
temp_uploads/
results/
__pycache__/
*.pyc

# IDE / System
.vscode/
.idea/
.DS_Store
